
.header {
    display: flex;
    border: 1px solid black;
    justify-content: space-between;
}
.logo {
    width: 126px;
    height: 126px;
}
.nav-items > ul {
    display: flex;
    font-size: 22px;
}
.nav-items > ul > li {
    list-style-type: none;
    padding: 10px;
    margin: 10px;
}

.res-container {
    display: flex;
    flex-wrap: wrap;
}

.res-card  {
    border:2px solid #555454;
    background-color: #d6d4d4;
    margin: 4px;
    padding: 5px;
    width: 200px;
    height: auto;
    border-radius: 5px;
}
.res-card:hover{
    border: 1px solid black;
}

.res-logo{
    object-fit: fill;
    border-radius: 5px;
    width: 200px;
    height: 126px;
}
.search {
    padding: 10px;
}
.filter-btn{
    cursor: pointer;
}